.popup__close-icon {
    margin: 0;
    transition: 0.5s;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -48.28px;
    right: -48.28px;
    background-image: url(../../../images/Close-Icon.svg);
    background-color: black;
    background-position: 50%;
    border: none;
}

.popup__close-icon:hover {
    opacity: .6;
}

@media screen and (max-width: 600px) {
    .popup__close-icon {
        width: 26px;
        height: 26px;
        top: -38.62px;
        right: 0;
    }
}