.element__button {
    transition: 0.5s;
    margin: 0;
    margin-right: 20px;
    grid-column: 2/3;
    justify-self: end;
    align-self: center;
    background-image: url(../../../images/Like-button.svg);
    width: 22px;
    height: 19px;
    background-color: white;
    border: none;
}

.element__button:hover {
    opacity: .5;
}

.element__button:active {
    background-image: url(../../../images/Like-button-Active.svg);
}
