.figure__image_close {
    margin: 0;
    transition: 0.5s;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../../images/Close-Icon.svg);
    background-color: transparent;
    background-position: 50%;
    border: none;
    z-index: 20;
}

.figure__image_close:hover {
    opacity: .6;
}

@media screen and (max-width: 600px) {
    .figure__image_close {
        width: 26px;
        height: 26px;
        
    }
}